# Private Envs
private_env.zsh

# Ubuntu Stuff
.gsd-keyboard.settings-ported
autostart
blender
cef_user_data
Code
dconf
enchant
environment.d
eog
evolution
fish
gedit
gnome-control-center
gnome-initial-setup-done
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
htop
ibus
mimeapps.list
monitors.xml
monitors.xml~
nautilus
neofetch
nyxt
pavucontrol.ini
procps
pulse
update-notifier
user-dirs.dirs
user-dirs.locale
